.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  width: 100px;
  height: 50px;
  color: black;
  font-size: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
  border-radius: 20px;
  background: rgb(63, 94, 251);
  background: rgb(233, 234, 237);
  background: radial-gradient(
    circle,
    rgba(233, 234, 237, 1) 0%,
    rgba(75, 70, 71, 1) 100%
  );
}
